aniso8601==3.0.2
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
Cython==0.28.1
Flask==1.0.2
Flask-RESTful==0.3.6
gunicorn==19.8.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.1
MarkupSafe==1.0
numpy==1.14.2
opencv-python==3.4.0.12
Pillow==8.1.1
pytesseract==0.2.0
pytz==2018.4
requests==2.18.4
six==1.11.0
urllib3==1.22
virtualenv==16.0.0
Werkzeug==0.14.1
